{% layout 'layout.liquid' %} {% block content %}

{% if loggedIn == true %} <!-- Check if user Signed in -->
<div class="container-md">
     <!-- forum to make your new question/answer -->
     <form action="/puzzle" method="POST">
          <fieldset>
               <legend>Create A New Problem</legend>
               <label class="form-label">Question:</label>
               <input 
               class="form-control" 
               type="text" 
               name="problem" 
               placeholder="enter name"
               >
               <label class="form-label">Answer:</label>
               <input 
               class="form-control" 
               type="text" 
               name="answer" 
               placeholder="enter answer"
               >
               <label class="form-label">public?</label>
               <input 
               class="form-check-input" 
               type="checkbox" 
               name="public"
               >
               <input 
               class="form-control" 
               hidden
               type="text" 
               name="collections" 
               placeholder="enter name"
               value="{{collectionId}}"
               >
          </fieldset>
          <!-- Submit Button -->
          <input 
          type="submit" 
          value="Create New Problem" 
          class="btn btn-success"
          >
     </form>
</div>

{% else %}
<p>You need to be signed in, to add a new collection. <a href="/user/singin"></a></p>
{% endif %}

{% endblock %}
