{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
    <!-- Basicly a DB quiry search on the frunt end -->
    <h1>Problems!</h1>

    {% if puzzle.length == 0 %}
        <p>There are no collections yet. Please add some.</p>
    {% else %}
        {% for puzzle in puzzle %}
        
            <p><a href="/puzzle/{{puzzle.id}}">{{puzzle.owner}}</a></p>
            <p>{{collections]}</p>
            <p></p>
        {% endfor %}
    {% endif %}

{% endblock %}