{% layout 'layout.liquid'%}
{% block content %}
    <h1>Collections!</h1>
    <!-- Add a new collection -->
    <p><a href="/collection/new"><button>Add New Collection</button></a></p>
    
    <!-- Display what collections you have with a link to them. -->
    {% if collection.length == 0 %}
        <p>There are no collections yet. Please add some.</p>
    {% else %}
        {% for collection in collection %}
            <p>
                <a href="/collection/{{collection.id}}">{{collection.name}}</a> {{collection.owner.username}}
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}