{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}

    <form action="/user/login" method="POST" class="form-block">
        <fieldset>
            <legend>Welcome back, please log in here</legend>
            <label class="form-label">Username:</label>
            <input 
                type="text" 
                name="username" 
            >
            <label class="form-label">Password:</label>
            <input 
                type="password" 
                name="password" 
            >
        </fieldset>
        <input 
            type="submit"
            value="Log In" 
            class="btn btn-success"
        >
    </form>

<form action="/user/signup" method="POST" class="form-block">
    <fieldset>
        <legend>New User</legend>
        <label class="form-label">Username:</label>
        <input 
            type="text" 
            name="username" 
        >
        <label class="form-label">Password:</label>
        <input 
            type="password" 
            name="password" 
        >
    </fieldset>
    <input 
        type="submit" 
        value="Create Account" 
        class="btn btn-success"
    >
</form>
{% endblock %}