.nav-link {
     padding: 4px;
}
body {
     background: cadetblue;
     color: #FA6121;
}
body a {
     color: #DBE8F9;
}
.collections-header {
     display: flex;
     align-items: center;
     margin: 1rem 0;
}
.collections-header button {
     background: #A0AEC1;
     margin: 0 1rem;
     border-radius: 10px;
     height: 2rem;
     border: 1px solid #FFB739;
}
.collection-row{
     /* color: #A0AEC1; */
     /* border-bottom: 2px solid #FFB739; */
     font-size: 1.5rem;
     padding: 10px;
     border-top: 1px solid #466289;
}
.collection-row .author {
     font-style: italic;
     margin-left: 1rem;
     font-size: 0.8rem;
}