.navbar {
     margin-bottom: 2rem;
}
.nav-link {
     padding: 4px;
}
body {
     background: cadetblue;
     color: #FA6121;
}
body a {
     color: #DBE8F9;
     width: auto;
}
.author {
     font-style: italic;
     font-size: 1rem;
}
.show-page-author {
     vertical-align: sub;  
}
.collections-header {
     display: flex;
     align-items: center;
     margin: 1rem 0;
}
/* .add, .edit, .delete {
     
} */

.add,
.edit,
.delete {
     margin: 0 1rem;
     border-radius: 10px;
     height: 2rem;
     border: 1px solid #FFB739;
     box-shadow: 1px 1px 1px 1px #FFB739;
}
.add {
     margin-top: 1rem;
     background: #A0AEC1;
}
.edit {
     background: #FFB739;
     border-radius: 0;
}
.delete {
     background: #FA6121;
     border-radius: 0px;
}
/* .two-grouped {
     margin-left: 1rem;
     vertical-align: center;
} */
.two-grouped * {
     margin: .3rem 0;
     display: inline-block;
}
input[type=text] {
     background: #DBE8F9;
}
.field-colection-name {
     width: 20rem;
}
.row{
     display: block;
     padding: 10px;
     border-top: 1px solid #466289;
}
.row .author {
     margin-left: 1rem;
     font-size: 0.8rem;
}
.container-md {
     margin: 0 auto;
     width: 70%;
     /* border: 10px solid black; */
}
/* .actions {
     margin: 3rem 0 0 0;
} */
.problems {
     margin: 3rem 0;
}
.margin-top {
     margin-top: 1rem;
}