{% layout 'layout.liquid' %}
{% block content %}
     <h2>Question: {{dueProblem.problem}}</h2>
     <h2>Answer: {{dueProblem.answer}}</h2>

     <div class="btn-group">
          <a href="/main/{{dueProblem.id}}/right" class="btn btn-primary">Right</a>
          <a href="/main/{{dueProblem.id}}/wrong" class="btn btn-danger">Wrong</a>
      </div>
{% endblock %}