{% layout 'layout.liquid'%}
{% block content %}
    <h1>This is my for now home page!</h1>
    
    {% assign dueCounter = 0 %}
    {% for item in user.personalTracker %}
            {% assign dueCounter = dueCounter | plus: 1  %}
    {% endfor %}

    <h4>You have {{dueCounter}} problems due.</h4>

    <!-- <a href=""><button>Let's get started!</button></a> -->
    <a href="" class="btn btn-secondary">Let's get started!</a>
        
{% endblock %}

<!-- <p>
            { assign days = 1 | times: 3 %} 
            { assign days = 3 | times: 86400 %}
            { assign today = {{problemDue.dueDate }} %}
            {{ "now" | date: "%s" | minus: today | date: "%a, %b %d, %y" }}
            {{ "now" | date: "%s" | plus: days | date: "%a, %b %d, %y" }}
                | plus: days | date: "%a, %b %d, %y" 
        </p> -->

<!-- 
     origin: 
     collections: 
     problem: 
     dueDate: 
     dayJumper: 
 -->