{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
<div class="container-md main-home-page">
    <h1>Welcome back!</h1>
    
    <!-- Gets the number of problems due. -->
    {% assign dueCounter = 0 %}
    {% for item in user.personalTracker %}
            {% assign dueCounter = dueCounter | plus: 1  %}
    {% endfor %}
    <!-- Lets you know how many problems you have doe -->
    <h4>You have {{dueCounter}} problems due today!</h4>

    <!-- Displays your questions -->
    {% if dueCounter > 0 %}
        <a href="/main/go" class="btn start">Let's get started!</a>
    {% endif %}
</div>
    
{% endblock %}