{% layout 'layout.liquid'%}
{% block content %}
    <h1>This is my home page!</h1>
    
    <!-- Gets the number of problems due. -->
    {% assign dueCounter = 0 %}
    {% for item in user.personalTracker %}
            {% assign dueCounter = dueCounter | plus: 1  %}
    {% endfor %}
    <!-- Lets you know how many problems you have doe -->
    <h4>You have {{dueCounter}} problems due.</h4>

    <!-- Displays your questions -->
    {% if dueCounter > 0 %}
        <a href="/main/go" class="btn btn-secondary">Let's get started!</a>
    {% endif %}
{% endblock %}