{% layout 'layout.liquid'%}
{% block content %}
    <h1>Collections!</h1>

    <p><a href="/collection/new"><button>Add New Collection</button></a></p>
    {% if collection.length == 0 %}
        <p>There are no collections yet. Please add some.</p>
    {% else %}
        {% for collection in collection %}
            <p>{{collection.name}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}