{% layout 'layout.liquid' %} {% block content %}

{% if loggedIn == false %}
     <p>You need to be signed in, to add a new collection. <a href="/user/singin"></a></p>
{% else %}
<div class="container-md">
     <form action="/collection" method="POST">
         <fieldset>
             <legend>Create A New collection</legend>
             <label class="form-label">Name:</label>
             <input 
                 class="form-control" 
                 type="text" 
                 name="name" 
                 placeholder="enter name"
             >
             <label class="form-label">public?</label>
             <input 
                 class="form-check-input" 
                 type="checkbox" 
                 name="public"
             >
         </fieldset>
         <input 
             type="submit" 
             value="Create New Collection" 
             class="btn btn-success"
         >
     </form>
 </div>
      
{% endif %}
{% endblock %}
